<!-- WIP -->
<section class="comparison position-relative" id="comparison" aria-labelledby="comparison-title">
  <div class="container position-relative z-1">
    <h2 class="section-title text-center" id="comparison-title">KingdomsX really is the go-to plugin.</h2>
    <p class="section-kicker text-center mx-auto mt-3 mw-100">A quick side-by-side view of how Kingdoms compares to other similar plugins.</p>
    <div class="table-responsive comparison-shell" role="region" aria-label="Plugin comparison table" tabindex="0">
      <table class="table table-hover align-middle text-center mb-0 comparison-table">
        <thead>
          <tr>
            <th scope="col">Feature</th>
            <th scope="col" class="kingdomsx-column">KingdomsX</th>
            <th scope="col">MassiveCore</th>
            <th scope="col">FactionsX</th>
            <th scope="col">GriefPrevention</th>
            <th scope="col">Towny</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Feature 1</th>
            <td class="kingdomsx-column"><i class="comparison-mark fa-solid fa-check text-success-emphasis" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
          </tr>
          <tr>
            <th scope="row">Feature 2</th>
            <td class="kingdomsx-column"><i class="comparison-mark fa-solid fa-check text-success-emphasis" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
          </tr>
          <tr>
            <th scope="row">Feature 3</th>
            <td class="kingdomsx-column"><i class="comparison-mark fa-solid fa-check text-success-emphasis" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
          </tr>
          <tr>
            <th scope="row">Feature 4</th>
            <td class="kingdomsx-column"><i class="comparison-mark fa-solid fa-check text-success-emphasis" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
          </tr>
          <tr>
            <th scope="row">Feature 5</th>
            <td class="kingdomsx-column"><i class="comparison-mark fa-solid fa-check text-success-emphasis" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
          </tr>
          <tr>
            <th scope="row">Feature 6</th>
            <td class="kingdomsx-column">Text</td>
            <td class="text-secondary">Text</td>
            <td class="text-secondary">Text</td>
            <td class="text-secondary">Text</td>
            <td class="text-secondary">Text</td>
          </tr>
          <tr>
            <th scope="row">Feature 7</th>
            <td class="kingdomsx-column"><i class="comparison-mark fa-solid fa-check text-success-emphasis" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
          </tr>
          <tr>
            <th scope="row">Feature 8</th>
            <td class="kingdomsx-column"><i class="comparison-mark fa-solid fa-check text-success-emphasis" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
            <td><i class="comparison-mark fa-solid fa-xmark text-secondary" aria-label="No"></i></td>
            <td><i class="comparison-mark fa-solid fa-check text-secondary" aria-label="Yes"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
