---
import { SITE } from "../config";
---
<div class="section-ornament mx-auto" aria-hidden="true">
  <span></span>
  <img src={`${SITE.assets}/images/logo.webp`} alt="" width="256" height="256" draggable="false" />
  <span></span>
</div>
